.container{
  height: 442px;
  width: 90%;
  margin: 15px 0 0 15px;
  //border: 1px solid;
}

.searchBar{
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.table{}

.pagination{}