.Overlay {
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.Content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--color-dark-300);
  border: 1px solid var(--color-dark-100);

  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);

  &:focus {
    outline: none;
  }

  @media (width <= 425px) {
    inset: 0;
    transform: translate(0%, 0%);

    overflow: auto;
    display: flex;
    flex-direction: column;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 12px 24px;

  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-l);

  border-bottom: 1px solid var(--color-dark-100);
}

.Description {
  position: relative;

  display: flex;
  justify-content: center;

  max-width: 500px;
  padding: 36px 24px;

  @media (width <= 425px) {
    flex: 1 1 auto;
  }
}

.buttonClose {
  position: absolute;
  top: 18px;
  right: 24px;

  font-size: 18px;
  color: white;
}