.inputContainer {
  width: 100%;
  position: relative;
  margin: 0 25px 15px 0;
}

.input{
  height: 36px;
  width: 100%;
  background-color: black;
  border: 1px solid #4C4C4C;
  border-radius: 4px;
  padding: 6px 12px 6px 40px;
}

.input:focus {
  outline: none;
  border: 1px solid #4C4C4C;
}

.searchIcon {
  position: absolute;
  top: 6px;
  left: 10px;
}
