.container {
  width: 330px;
  border: 1px solid #8d9094;
  padding: 5px 10px;
  position: relative;
}

.dropdown {
  width: 100%;
}

:global(.p-dropdown-panel) {
  width: 330px !important;
  left: 240px !important;
  border: 1px solid #8d9094 !important;
  margin-top: 5px;
  box-shadow: none !important;
}

:global(.p-dropdown-item) {
  padding: 10px 12px !important;
  margin: 0 !important;
  border-bottom: 1px solid #e0e0e0 !important;
  display: flex !important;
  flex-direction: row-reverse;
  justify-content: space-between !important;
  align-items: center !important;
  transition: background-color 0.2s;

  &:hover {
    background-color: #f5f5f5 !important;
  }

  &:last-child {
    border-bottom: none !important;
  }
}

:global(.p-dropdown-item .p-checkbox-icon) {
  color: #2563eb;
}

:global(.p-dropdown-item .p-dropdown-item-text) {
  text-align: right !important;
  flex-grow: 1;
}